@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
